# Laravel standard ignores
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor

# Environment files
.env
.env.backup
.env.production
.env.*
*.env

# Logs and databases
*.log
*.sqlite

# Testing
.phpunit.result.cache
.phpunit.cache

# IDE and OS files
.DS_Store
/.fleet
/.idea
/.nova
/.vscode
/.zed
/auth.json
Homestead.json
Homestead.yaml
Thumbs.db

# PHP and IDE Helpers
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php
.php-cs-fixer.cache
.php_cs.cache

# Sensitive files
id_rsa
id_rsa.pub
ssh-keygen*
auth.json
